/* --------------- section 1  */


.message{

    box-sizing: border-box;
    width: 100%;
    padding-left: 10%;   
    padding-right: 5%;
}

.message h1{

    font-size: clamp(30px, 6vh, 75px);
    font-weight: 600;
    /* line-height: 65px; */
    letter-spacing: 3px;
    /* line-height: 1.2; Hauteur de ligne à 1.6 fois la taille de police */

}

.message p{

    /* margin-top: -30px; */
    font-size: clamp(15px, 3vh, 35px);;
    font-weight: semi-bold;
    letter-spacing: 1px;
    word-spacing: 1px; /* Espace de 10px entre les mots */
    line-height: 1.5; /* Hauteur de ligne à 1.6 fois la taille de police */

    text-align: left;

}


.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1D71B8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size:    clamp(15px, 3vh, 26px);
}

.cta-button .icon-container i {
    display: flex;
    flex-direction: column;
    font-size: 20;
}

.cta-button:hover {
    background-color: #0056b3;
}





@media (max-width: 425px){



    .message h1{
        font-size: 30px;
    }
    
    .message p{
    
        font-size: 15px;
    
    }
    
    .cta-button {
        display: inline-flex;
    
        padding: 7px 12px;
        font-size:   15px;
    }
    
    .cta-button .icon-container i {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    
    .cta-button:hover {
        background-color: #0056b3;
    }
    
    
    
    }


/* ------------------------------- section 2 ---------------------------------------------------------------------------------------------- */


.section2{

    min-height: 30vh;


    color: black;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
    gap: 0;
}

.section2 h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -1.2000000476837158px;
    text-align: center;

}

.section2 p{

    width: 700px ;

    box-sizing: border-box;

    padding-right: 50px;
    padding-left: 50px;

    
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: justify;

    
    /* font-size:    clamp(10px, 4vh, 26px); */
}

.section2 img{
    /* width: 120px; */

    
}



@media (max-width: 1028px){


    .section2{
        display: flex;
        flex-wrap: wrap;
    }

    .section2 p{

        box-sizing: border-box;



        width: 100% ;
    
        
        font-size: 18px;

    
        
        /* font-size:    clamp(10px, 4vh, 26px); */
    }

    .section2 h2{
        font-size: 25px;
    }

    .section2 img{
        width: 200px;
    
        
    }
}



/* --------------------------------------------------------------------------------------------- */


.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1D71B812;

    gap: 80px;

    padding-top: 100px;

    width: 100%;
    box-sizing: border-box;

}


.section3 .header h2 {
    width: 100%;
    text-align: center;

    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;

    font-size: 36px;
    font-weight: 600;
    /* line-height: 30px; */

}

.section3 .header p{

    width: 100%;
    text-align: center;

    font-size: 24px;

    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;


    font-weight: 400;
    line-height: 32px;
    text-align: center;

}


.fonctionnalites{
    display: flex;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.fonctionnalites article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;

    
}

.fonctionnalites article h3{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    
    margin: 0;
}

.fonctionnalites article p{


    height: 116px;
    max-width: 250px;
    opacity: 0px;

    margin-top: 0px;



    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;

}


.fonctionnalites .icon{
    background-color: #E6007E;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.section3 .end{

    width: 100%;
    box-sizing: border-box;
    height: 96px;

    background: #E6007E;
}


@media (max-width: 790px){

    .section3 .header p{
        font-size: 18px;
    
    }

    .section3 .header h2{
        font-size: 25px;
    }


}




/* ------------------------------------------------- section 4 --------------------------------------------------------------- */

.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    margin-bottom: 5vh;

    gap : 8vh;

}

.section4 .body{

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    padding-left: 15px;
    padding-right: 15px;

    justify-content: center;
    align-items: center;
    gap: 5vw;
}


.section4 .header{

    box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.section4 .header h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.2;
}

.section4 .header p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 2;

}

.section4 .news_letter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    
}

.news_letter p{

    font-size: 28px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    text-align: left;

}
.news_letter form{
    display: flex;
}




.email-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
    width: 12vw;
}

.subscribe-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.subscribe-button i {
    margin-left: 8px;
}



@media (max-width: 1062px){

    .section4 .header{
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }

    .section4 .news_letter{
        justify-content: center;
        gap: 3vw;
    }


}




@media (max-width: 723px){

    .body img {
        width: 300px;
    }
    .news_letter p{
        font-size: 20px;
        line-height: 1.2;
    }

}


@media (max-width: 425px){

    .section4 .header h2{
        font-size: 25px;
    }

    .section4 .header p{
        font-size: 15px;
    }

    .body img {
        width: 300px;
    }

    .news_letter p{
        font-size: 20px;
        line-height: 1.2;
    }

    .email-input{
        width: 100px;
    }

}

@media (max-width: 375px){

    .body img {
        width: 250px;
    }

    .news_letter p{
        font-size: 14px;
        line-height: 1.2;
    }

}

