

header{


    position: relative;
    
    
    background-image: url('../assets/nousBg.png');
    
    padding-bottom: 56.25%; /* aspect ratio 16:9, ajustez selon votre image */
    background-size: contain; /* La totalité de l'image est visible sans être rognée */
    height: auto;
    
}



main{

    margin-top: -16vh;

    max-width: 1750px;
    padding: 0 0 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article h2 {
    padding: 0 10% 0 10%;

    font-size: 1.5vw;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}

main article p {

    box-sizing: border-box;
    padding: 0 10% 0 10%;
    font-size: 1vw;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
    letter-spacing: 0.5px;


}


/* Taille des  polices d'articles */

@media (max-width: 1004px){
    main article h2 {
        font-size: 2.5vw;
        line-height: 38.4px;
    }

    main article p {
        font-size: 2vw;
        line-height: 2;
    }
}


/* Taille des  polices d'articles sur mobile */

@media (max-width: 425px){
    main article h2 {
        font-size: 4vw;
        line-height: 38.4px;
    }

    main article p {
        font-size: 3.5vw;
        line-height: 2;
    }
}


/* Taille de l'image de group */
/* @media (max-width: 1440px){

    header {

        height: 90vh;

        background-size: contain;
        aspect-ratio: 1757/676;
    }

} */