@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



header {
    box-sizing: border-box;
    width: 100%; 
    height: 90vh;
    color: white;




    background-image:  linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #161C2D 99.54%)
    ,url('./assets/bg_1.jpeg');
    background-blend-mode: multiply;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    gap: 10vh;

    /* aspect-ratio: 4096/9 */

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
}



.menu {

    margin-top: 17px;
    margin-bottom: 48px;

    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
    /* border: 1px solid red; */

    width: 90%;
}

.menu img {
    width: 5vw;
    aspect-ratio: 979/477;

}

.adapt{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.menu .navbar {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    list-style: none;

    /* border: 1px solid blue; */


    /* margin-left: 5vw;
    margin-right: 5vw; */
    /* margin-right: auto; */


}


.menu .navbar   li  a {
    text-decoration: none;
    color: white;
    font-size: clamp(18px, 1vw, 30px);
    
    font-weight: semi-bold;
    letter-spacing: 1.5px;
    padding: 10px 15px;
}


.store-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espace entre les boutons */
}

.market_place{
    display: none;

    text-decoration: none;
    
    color: white;
    font-size: clamp(18px, 1vw, 30px);
    
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 10px 15px;
}

.store-button{
    text-decoration: none;
}
.store-button img {

    width: 160px;

    aspect-ratio: 135/40; 
    display: block;
}






.menu-icon {
    /* visibility: hidden; */
    display: none;

    font-size: 24px; /* Taille de l'icône */
    color: white; /* Couleur de l'icône */
    cursor: pointer; /* Curseur en forme de main pour indiquer qu'il est cliquable */
}





/* Redimentionnement du  menu d'entete*/

@media  (max-width: 1084px) {

    .menu-icon{
        display: block;
    }


    .adapt{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: absolute;
        top: 50px;  /* Positionnez-le selon vos besoins */
        right: 10px; /* Positionnez-le selon vos besoins */
        background-color: white; /* Couleur différente pour la distinction */

        width: 180px;

        
    }
   


    .menu .navbar{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;

        justify-content: center;
        width: 100%;
        padding: 0;
    }


    .menu .navbar ul{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: left;
    }
    .menu .navbar   li  a {
        font-size: 10px;
        color: black;
    }

    .store-buttons{
        border-top: 0.1px solid #cac4d06c; /* Taille et couleur du trait */

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;

        width: 100%;
    }
    .market_place{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: left;
        justify-content: left;
        text-align: left;
        color: black;

        text-decoration: none;

        font-size: 10px;

    }

    .store-button img {
        display: none;
    }

    .menu img {
        width: 120px;
        aspect-ratio: 979/477;
    
    }
}


/* Mobile  L*/




/* Redimentionnement du message d'acceuil*/
/* @media (max-width: 889px){



.message{

    width: 100%;

}

.message h1{
    font-size: 50px;

}

.message p{
    font-size: 20px ;
}

.cta-button {
    font-size: 20px;
    padding: 10px 10px;

}

.cta-button .arrow {
}


} */




/* ----------------------------------------------------------------------   foooter ----------------------------------------------------------- */


footer{

    
    box-sizing: border-box;
    width: 100%;
    background: #222222;
    color: white;

    

    padding: 50px 0;

    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;


}

footer .foot1 {


    box-sizing: border-box;
    padding-top: 50px;
    padding: 50px 25px 0px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

footer .foot1 p{
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: justify;

    max-width: 541px;
}


footer .foot1 img {
    width: 96px;
}

.contact-card {
    box-sizing: border-box;
    padding-top: 50px;
    /* padding: 0 20px ; */
    color: #fff;
}

.contact-card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #00bfff;
}

.contact-details {
    list-style: none;
    padding: 0;
}

.contact-details li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-details li i {
    margin-right: 10px;
    color: #00bfff;
}

footer .foot3{

    padding: 50px 10px 10px 10px;


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}