.image-container {
    /* position: relative; */
    width: 100%; /* largeur de 100% du conteneur parent */
    padding-bottom: 56.25%; /* aspect ratio 16:9, ajustez selon votre image */
    background-image: url('./assets/nousBg.png');
    background-size: contain; /* La totalité de l'image est visible sans être rognée */
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
}
