/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Cacher le menu sur les petites tailles d'écran */
.menu-toggle {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
    }

    .menu-toggle {
        display: block;
    }

    nav ul li {
        text-align: center;
    }
}
